.edit-icon {
    
    position: relative;
    
    font-size: 20px;
    color: white;
    /* border:none;
    outline:none;
    display:block;
    cursor:pointer;
    position:absolute;
    top: 50px;
    left: 00px; */
}


.edit-caption-header {
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: -5px;
}

.form-field-input {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 1px;
    /* border: 1px solid #2e4761;
    border-radius: 5px; */
}
.edit-caption-form-wrapper {
    padding-left: 5px;
    padding-right: 5px;
}

.form-field-button {

    display: flex;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0);
}

.photo-file-input {
    height: 30px;
    position:relative;
    left: 80px;
}


textarea {
    background: #142837;
    color: #C4F1BE;
    height: 100px;
    width: 240px;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}