.edit-icon {
    
    position: relative;
    
    font-size: 20px;
    color: white;
    /* border:none;
    outline:none;
    display:block;
    cursor:pointer;
    position:absolute;
    top: 50px;
    left: 00px; */
}