

.photoContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-template-rows: auto;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    gap: 15px;
    
    
}

.gallery-image {
    background-color: white;
    display: inline-block;
    /* border: 1px solid #365372; */
    border-radius: 5px;
}

.gallery-image:hover {
    opacity: .5;
}

.photoSpan {

    align-items: center;
    justify-items: center;
    padding: px;
    background-color:#050B0F;
    /* border: 1px solid #365372; */
    border: 1px dotted #C4F1BE;
    border-radius: 5px;
}

.photoSpan:hover {
    border: 1px dotted #94E689;
}