body {
    background-color: #142837;
    color: #f5f3e0;
    font-family: 'Open Sans';
}

button {
    background-color: #365372;
    text-decoration: none;
    border: 0px solid #142837;
    /* border-radius: 50px; */
    color: #c4f1be;
    padding-top: 5px;
    padding-bottom: 5px;
}

button:hover {
    color: #A3EA9A;
}



form input{
    background-color: #142837;
    border: 1px solid #3a5689;
    color: #c4f1be;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
}

input:focus,
select:focus,
textarea:focus {
    outline: 1px solid #c4f1be;
}

button:focus {
    outline: none;
}

input[type="button"]{
    outline:none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    color: #C4F1BE !important;
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 30px #142837 inset !important;
}
