body {
    background-color: #142837;
    color: #f5f3e0;
    font-family: 'Open Sans';
}

button {
    background-color: #365372;
    text-decoration: none;
    border: 0px solid #142837;
    /* border-radius: 50px; */
    color: #c4f1be;
    padding-top: 5px;
    padding-bottom: 5px;
}

button:hover {
    color: #A3EA9A;
}



form input{
    background-color: #142837;
    border: 1px solid #3a5689;
    color: #c4f1be;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}