:root {
    --window-size: 0;
}

.user-banner-wrapper {
    margin-left:auto;
    margin-right:auto;
    max-width: 1400px;
    height: 200px;
    border: 1px dotted #C4F1BE;
    border-radius: 5px;
    padding: 5px;
    background-color: #0b161E;
    margin-top: 10px;
}

.user-banner-header-photo{
    display: flex;
    justify-content: center;
    max-width: 1400px;
    height: 200px;
    border-radius: 5px;
}

.header-info-container {
    margin-left:auto;
    margin-right:auto;
    height: 200px;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 200px;
    margin-bottom: -200px;
}

.activeProfilePhoto {
    position: relative;
    left: 5px;

}

.activeProfileName {
    position: relative;
    bottom: 45px;
    left: 5px;
    height:40px;
    color: #C4F1BE;
    font-size: 28px;

    background-color: rgba(20, 40, 55, 0.9);
    padding-left: 10px;
    padding-right:10px;
    /* margin-top: 10px; */
    border-radius: 8px;
    display: inline-block;
}


.edit-profile-photo {
    position: relative;
    right: 235px;
    bottom: 5px;
    color:rgba(196, 241, 190, 0.6);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);;
}

.edit-profile-photo:hover {
    color: rgba(148, 230, 137, 0.6)
}

.edit-cover-photo {
    position: relative;
    left: 90px;
    color:rgba(196, 241, 190, 0.6);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);;
}

.edit-cover-photo:hover {
    color: rgba(148, 230, 137, 0.6)
}

.photo-upload-btn{
    position: relative;
    top: 160px;
    right: 10px;
    height: 27px;
    font-size: 16px;
    background-color: rgba(20, 40, 55, 0.9);
    border-radius: 8px;
}

.profilePhoto {
    position: relative;
    bottom: 195px;
    left: 5px;
}

.profileName {
    position: relative;
    bottom: 270px;
    left: 90px;
    
    height:40px;
    color: #C4F1BE;
    font-size: 28px;

    background-color: rgba(20, 40, 55, 0.9);
    padding-left: 10px;
    padding-right:10px;
    /* margin-top: 10px; */
    border-radius: 8px;
    display: inline-block;
}

.photo-content-display {
    margin-top: 10px;
    
}