.login-form {
    background-color: #365372;
    padding: 0px;
    margin:auto;
    margin-top: 25px;
    /* border: 1px solid #C4F1BE; */
    border-radius: 20px;
}

.log-in-header {
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: -10px;
}

.login-modal-form {
    border: 2px solid #2e4761;
    padding: 10px;
    border-radius: 10px;
}

.form-field-input {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 1px;
    /* border: 1px solid #2e4761;
    border-radius: 5px; */
}

.form-field-button {

    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f5f3e0;

}

.concrt-logo {
    height: 80px;
}

.login-submit-button {
    height: 20px;
    font-size: 16px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    color: #C4F1BE !important;
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 30px #142837 inset !important;
}

