


.login-form {
    background-color: #365372;
    padding: 0px;
    margin:auto;
    margin-top: 25px;
    /* border: 1px solid #C4F1BE; */
    border-radius: 20px;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F0ECD0;

}

.concrt-logo {
    height: 80px;
}

.login-btn {
    height: 20px;
}

